* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  width: 200px;
  height: 200px;
}

.box1 {
  background-color: brown;
  position: relative;
  left: 100px;
  top: 100px;
  z-index: 2;
}

.box2 {
  background-color: cyan;
  position: relative;
  z-index: 1;
  /* position: fixed;
  bottom: 100px;
  right: 100px; */
}

.container {
  position: relative;
  width: 600px;
  height: 600px;
  border: 4px solid red;
}

.box3 {
  background-color: blue;
  position: absolute;
  left: 500px;
  bottom: 0;
}

.box4 {
  background-color: blueviolet;
  position: sticky;
  top: 100px;
}
